/* ==========================================================================
   SEARCH
   ========================================================================== */

/*
   Google CSE
   ========================================================================== */
input.gsc-search-button-v2 {
       height: 26px !important;
       margin-top: 0 !important;
       min-width: 13px !important;
       padding: 5px 26px !important;
       width: 68px !important;
   }

#searchbar {
    max-width: 1000px;
    margin: auto;
}
